[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
